<!DOCTYPE html>
<html>
<head>
	<title>Gamerist</title>
	<%= include_jquery %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
  <%=javascript_include_tag "https://www.authy.com/form.authy.min.js" %>
  <%=stylesheet_link_tag "https://www.authy.com/form.authy.min.css" %>

</head>
<body>

	<%= render "elements/header" %>
	

	<%= render "elements/headbar" %>
	<div id="main">
	<div id="content">
		<div id="content_body">
		<%if(notice)%>
		  <p class="notice"><%= notice %></p>
		<%end%>
		<%if(alert)%>
		  <p class="alert"><%= alert %></p>
		<%end%>
		<%= yield %>
		<div id="footer">
		  <div class="footercolumn250">
		    <ul>
		    <li><a href="/">Gamerist</a></li>
		    <li><a href="/rooms">Rooms</a></li>
		    <li><a href="/about">About us</a></li>
		    </ul>
		  </div>
		  <div class="footercolumn250">
		    <ul>
		    <li><a href="/accounts">Your account</a></li>
		    <li><a href="/paypals/new">Add funds</a></li>
		    <li><a href="/report">Report a Problem</a></li>
		    </ul>
		  </div>
		  <div class="footercolumn250">
		    <ul>
		    <li><a href="/disclaimer">Disclaimer</a></li>
		    <li><a href="/terms">Terms of Use</a></li>
		    <li><a href="/privacy">Privacy Policy</a></li>
		    </ul>
		  </div>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
