<!DOCTYPE html>
<html>
<head>
	<title>Gamerist</title>
	<%= include_jquery %>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<%= render "elements/header" %>
	

	<%= render "elements/headbar" %>
	<div id="main">
	<div id="content">
		<div id="content_body">
		<%if(notice)%>
		  <p class="notice"><%= notice %></p>
		<%end%>
		<%if(alert)%>
		  <p class="alert"><%= alert %></p>
		<%end%>
		<%= yield %>
		<div id="footer">
		  <div class="footercolumn250">
		    <a href="/">Gamerist</a>
		    <a href="/rooms">Rooms</a>
		    <a href="/about">About us</a>
		  </div>
		  <div class="footercolumn250">
		    <a href="/accounts">Your account</a>
		    <a href="/paypals/new">Add funds</a>
		    <a href="/report">Report a Problem</a>
		  </div>
		  <div class="footercolumn250">
		    <a href="/disclaimer">Disclaimer</a>
		    <a href="/terms">Terms of Use</a>
		    <a href="/privacy">Privacy Policy</a>
		  </div>
		</div>
		</div>
	</div>
	</div>
</body>
</html>
