<p>
  <b>Owner:</b>
  <%= owner %>
</p>

<p>
  <b>Game:</b>
  <%= game_id %>
</p>

<p>
  <b>State:</b>
  <%= state %>
</p>

<p>
  <b>Server:</b>
  <%= server_id %>
</p>

<p>
  <b>Ruleset:</b>
  <%= ruleset_id %>
</p>


<a href="#/index">Back</a>