<%= form_for(@ruleset) do |f| %>
  <% if @ruleset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruleset.errors.count, "error") %> prohibited this ruleset from being saved:</h2>

      <ul>
      <% @ruleset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :map_id %><br>
    <%= f.number_field :map_id %>
  </div>
  <div class="field">
    <%= f.label :playercount %><br>
    <%= f.number_field :playercount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
