<h1>Listing rulesets</h1>

<table>
  <thead>
    <tr>
      <th>Map</th>
      <th>Playercount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rulesets.each do |ruleset| %>
      <tr>
        <td><%= ruleset.map_id %></td>
        <td><%= ruleset.playercount %></td>
        <td><%= link_to 'Show', ruleset %></td>
        <td><%= link_to 'Edit', edit_ruleset_path(ruleset) %></td>
        <td><%= link_to 'Destroy', ruleset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruleset', new_ruleset_path %>
