<p id="notice"><%= notice %></p>

<p>
  <strong>Map:</strong>
  <%= @ruleset.map_id %>
</p>

<p>
  <strong>Playercount:</strong>
  <%= @ruleset.playercount %>
</p>

<%= link_to 'Edit', edit_ruleset_path(@ruleset) %> |
<%= link_to 'Back', rulesets_path %>
