<p id="notice"><%= notice %></p>

<p>
  <strong>Prettyname:</strong>
  <%= @game.prettyname %>
</p>

<p>
  <strong>Enum:</strong>
  <%= @game.enum %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
