<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>
  <br/>
  <div><%= f.check_box :terms_accepted %> I have read and accept the <%=  %>Terms and Conditions</div>
  <br/>
  <div><%= f.submit "Sign up" %></div>
  <br/>
  <div>Gamerist servers are currently only available in Europe and North America</div>
  <br/>
  
<% end %>
<div>
<%= render "devise/shared/links" %>
</div>
