<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :required => true, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :required => true %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :required => true %></div>
  <br/>
  <div><input type="checkbox" required>I have read and accept the <%= link_to "Terms and Conditions", "/static/terms" %> and am in one of the <%= link_to "26 regions where Gamerist is provided.", "/static/regions" %></input></div>
  <br/>
  <div><%= f.submit "Sign up" %></div>
  <br/>
  <div>Gamerist is currently only available in the United Kingdom and 25 states in the United States of America.</div>
  <br/>
  
<% end %>
<div>
<%= render "devise/shared/links" %>
</div>
