<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :server_address %><br>
    <%= f.text_field :server_address %>
  </div>
  <div class="field">
    <%= f.label :dispatch_address %><br>
    <%= f.text_field :dispatch_address %>
  </div>
  <div class="field">
    <%= f.label :dispatch_version %><br>
    <%= f.number_field :dispatch_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
